.elementor-259 .elementor-element.elementor-element-b748147 .elementor-heading-title{font-family:"Futura", Sans-serif;font-weight:bold;}.elementor-259 .elementor-element.elementor-element-929d8c9{width:var( --container-widget-width, 97.818% );max-width:97.818%;--container-widget-width:97.818%;--container-widget-flex-grow:0;}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Futura';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('Futura-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Futura';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('Futura-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Futura';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('Futura-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Futura';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('Futura-ExtraBold.ttf') format('truetype');
}
/* End Custom Fonts CSS */